---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Sababa Adventures.">
	<main>
		Hello World
	</main>
</Layout>

	<script>
		import gsap from "gsap"

		const box = document.querySelector(".box")
	
		gsap.to(box, {
			x: 500,
			duration: 1
		})
	</script>