---

import { Image } from "astro:assets";
import ParallaxContent from "@/components/ParallaxContent";
import Stars from "@/components/Stars";

import kiliPng from "@/assets/images/kilimanjaro-transparent.png";
---

<div
      class="my-20 bg-gradient-to-b from-blue-950 to-blue-500 relative overflow-hidden"
    >
      <div class="rotate-180">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
          ><path
            fill="#ffffff"
            fill-opacity="1"
            d="M0,224L120,192C240,160,480,96,720,106.7C960,117,1200,203,1320,245.3L1440,288L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
          ></path></svg
        >
      </div>
      <Stars count={35} />

      <section class="max-w-6xl 2xl:max-w-7xl mx-auto py-12 z-10">
        <div class="max-w-4xl mx-auto text-center px-4">
          <p class="sub-title-green">Reach The Top</p>
          <h3 class="section-title-light text-center">
            Ascend to Tanzania"s Peaks
          </h3>
          <p class="text-white/75 font-normal">
            Conquer the heights of Africa with guided treks to the majestic
            peaks of Kilimanjaro and Mount Meru. Whether you seek the challenge
            of Africa’s highest summit or the breathtaking views of Meru, our
            expert guides ensure a safe and unforgettable ascent, immersing you
            in the beauty and adventure of Tanzania"s landscapes
          </p>
        </div>

        <ParallaxContent textStrength={0.16} imageStrength={0.1} client:load />
        <ParallaxContent
          textStrength={0.16}
          imageStrength={0.1}
          direction="reverse"
          client:load
        />

        <div class="my-64 md:my-80 lg:my-96"></div>
        <div class="absolute bottom-0 sm:bottom-8 lg:bottom-6 ">
          <Image
            src={kiliPng}
            alt=""
            class="w-full h-60 sm:h-full object-cover"
          />
        </div>
        <div class="absolute bottom-0 lg:-bottom-6 left-0 w-full mx-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 320"
          >
            <path
              fill="#ffffff"
              fill-opacity="1"
              d="M0,192L120,208C240,224,480,256,720,250.7C960,245,1200,203,1320,181.3L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
            ></path>
          </svg>
        </div>
      </section>
      <br />
      <br />
    </div>