---
import { Image } from "astro:assets";
import img1 from "../assets/images/IMG-032.jpg";
---

<div class="w-full h-[40rem] bg-blue-300 relative">
  <Image src={img1} alt="" class="w-full h-full object-cover" />
  <div
    class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-full px-4"
  >
    <p class="sub-title">Explore. Experience. Enjoy​</p>
    <h2 class="text-center text-white font-bold text-4xl md:text-6xl">
      Unforgettable Journeys with
      <br /> Sababa Adventures ​
    </h2>
  </div>
</div>
